<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aircraft 0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,0},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216,0},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324,0},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,78},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,78},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216,78},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324,78},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,156},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,156},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216,156},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324,156},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,234},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,234},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216,234},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324,234},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,312},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,312},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216,312},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aircraft 19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,78}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324,312},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>aircraft.png</string>
			<key>textureFileName</key>
			<string>aircraft</string>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
